/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
======================================== */

/* 1. Global Styles
======================================== */

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
}

/* 2.Typography Styles
======================================== */

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.nav .active {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
/* 3. Structure Styles
======================================== */

.nav {
  width: 100%;
  background-color: #354e75;
  overflow: auto;
}

.nav a {
  float: left;
  width: 25%;
  padding: 12px 0;
}

.nav a:hover {
  background-color: #5780c2;
}

.nav a:active {
  background-color: #bad1f7;
}

.nav .active {
  background-color: #bad1f7;
}

.header {
  width: 100%;
  background-color: #bad1f7;
}

.profilepic {
  align-items: center;
}
.profilepic img {
  width: 30%;
  height: auto;
  margin: 30px 35%;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.info #name {
  text-align: center;
}

/* 4. Module Styles
======================================== */

/* 5. Component Styles
======================================== */
